{{!-- 
  var context = {
    "imageUrl" : "",
    "imgDescription" : "",
    "prefix" : "",
    "firstName": "",
    "lastName": "",
    "text": "",
    "posts" : [
        {"title":"","date":""},
        {"title":"","date":""},
    ],
}
 --}}

<div class="rounded overflow-hidden shadow-lg">
    <img class="w-full" src={{imageUrl}} alt={{imgDescription}}>
    <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{prefix}} {{firstName}} {{lastName}}</div>
    <p class="text-gray-700 text-base">
        {{text}}
    </p>
    </div>
    <div class="font-bold text-xl mb-2">
        {{#each posts}}
            <span class="inline-block bg-gray-300 rounded-md px-3 py-1 text-sm font-bold text-black mr-2 mb-2">{{this.date}}: {{this.title}}</span>
        {{/each}}
    </div>
</div>