{{!-- 
  var context = {
    "imageUrl" : "",
    "imgDescription" : "",
    "title": "",
    "date": "",
    "shortSummary": "",
    "owner {"firstName": "Daniel", "lastName": "Gregg", "owner": true},

    collaborators: [
        { firstName: 'Tim', lastName: 'McKeaveney'},
        { firstName: 'Rosa, lastName: 'Klebb'},
        ],
 --}}

<div class="rounded overflow-hidden shadow-lg">
    <img class="w-full" src={{ format_image_url imageUrl}} alt={{imgDescription}}>
    <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{title}}</div>
    <p class="text-gray-600">{{format_date date_last_edited}}</p>
    <p class="text-gray-700 text-base">
        {{shortSummary}}
    </p>
    </div>
    <div class="font-bold text-xl mb-2">
        {{#each authors}}
            {{#if owner}}
                <span class="inline-block bg-gray-300 rounded-md px-3 py-1 text-sm font-bold text-black mr-2 mb-2">{{this.firstName}} {{this.lastName}}</span>
            {{else}}
                <span class="inline-block bg-gray-200 rounded-md px-3 py-1 text-sm font-semi-bold text-gray-600 mr-2 mb-2">{{this.firstName}} {{this.lastName}}</span>
            {{/if}}
        {{/each}}
    </div>
</div>