
<form class="grid mt-8  gap-8 grid-cols-1" id="brief-form">
	<div class="flex flex-col ">
        <input type="hidden" name="type" value="{{type}}">
        <div class="bg-white shadow-md rounded-3xl p-5">
            <div class="flex flex-col sm:flex-row items-center">
                <h2 class="font-semibold text-lg mr-auto">Project Brief</h2>
                <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
            </div>
            <div class="mt-5">
                <div class="form">
                    <div class="md:space-y-2 mb-3">
                        <label class="text-s font-semibold text-gray-600 py-2">Project Image<abbr class="hidden"
                                title="required">*</abbr></label>
                        <div class="flex items-center py-6">
                            <div class="w-44 h-44 mr-4 flex-none rounded-xl border overflow-hidden">
                                <img class="w-44 h-44 mr-4 object-cover" src={{ format_image_url imagepath }}
                                    alt="currentProjectImage">
                            </div>
								<label class="cursor-pointer ">
                                    <span class="focus:outline-none text-white text-sm py-2 px-4 rounded-full bg-green-400 hover:bg-green-500 hover:shadow-lg">Browse</span>
                                    <input type="file" class="hidden" :multiple="multiple" :accept="accept">
                                </label>
						</div>
					</div>
                    <input value="{{brief.id}}" hidden="true" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-12 px-4" type="text" name="briefId" id="briefId">
                    <input value="{{brief.type}}" hidden="true" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-12 px-4" type="text" name="type" id="type">
                    <div class="md:flex flex-row md:space-x-4 w-full text-s">
                        <div class="mb-3 space-y-2 w-full text-s">
                            <label class="font-semibold text-gray-600 py-2">Project Title<abbr title="required">*</abbr></label>
                            <input {{#if brief.title}} value="{{{brief.title}}}" {{else}} placeholder="Please enter a project title" {{/if}} required="required" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-12 px-4" type="text" name="title" id="title">
                            <p class="text-red text-xs hidden"></p>
                        </div>
                    </div>
                </div>
                <div class="flex-auto w-full mb-1 text-s space-y-10">
                    <label class="font-semibold text-gray-600 py-4">Short Summary</label>
                    <textarea placeholder="Please enter a short summary of less than 50 words" required="" name="shortSummary" id="shortSummary" class="w-full min-h-[100px] max-h-[200px] h-24 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" spellcheck="false">{{#if brief.shortSummary}} {{brief.shortSummary}} {{else }} {{/if}}</textarea>
                </div>

                <div class="flex-auto w-full mb-1 text-s space-y-2">
                    <label class="font-semibold text-gray-600 py-10">Summary</label>
                    <textarea placeholder="Please enter a summary of less than 200 words" required="required" name="summary" id="summary" class="w-full min-h-[100px] max-h-[300px] h-44 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" spellcheck="false">{{#if brief.summary}} {{brief.summary}} {{else}}{{/if}}</textarea>
                </div>

                <div class="flex-auto w-full mb-1 text-s space-y-2">
                    <label class="font-semibold text-gray-600 py-2">Content</label>
                    <textarea required="" name="content" id="content" class="w-full min-h-[100px] max-h-[1000px] h-96 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" required="required" placeholder="Please enter the content of your project brief" spellcheck="false">{{#if brief.content}} {{brief.content}}{{else}} {{/if}} </textarea>

                </div>

                <p class="text-xs text-red-500 text-center my-3">Required fields are marked with an asterisk <abbr
                        title="Required field">*</abbr></p>
                <div class="mt-5 text-center md:space-x-3 md:block flex flex-col-reverse">
                    <a href="/dashboard"><button type="button" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100"> Cancel </button></a>
                    <button type="submit" class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="../../js/briefupdate.js"></script>